{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<title>Query Search & Recommendation for Courses</title>
<style>
    .popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;
    }
</style>
<body>
    <h1>Query Search & Recommendation for Courses</h1>
</body>

<form method="POST" >

    <div class="PrevCourse">
        <label for="PreviousCourses">Previous Courses:</label><br>
        <input type="text" id="PreviousCourses" name="PreviousCourses" value={{ current_user.courses_done }}><br>
        <br>
    </div>

    <div class="Branch">
        <p>Branch/Department of Courses</p>

        <input type="checkbox" id="CSE" name="Branch" value="CSE">
        <label for="CSE"> CSE </label> <br>

        <input type="checkbox" id="DES" name="Branch" value="DES">
        <label for="DES"> DES </label> <br>

        <input type="checkbox" id="MTH" name="Branch" value="MTH">
        <label for="MTH"> MTH </label> <br>

        <input type="checkbox" id="ECE" name="Branch" value="ECE">
        <label for="ECE"> ECE </label> <br>

        <input type="checkbox" id="BIO" name="Branch" value="BIO">
        <label for="BIO"> BIO </label> <br>

        <input type="checkbox" id="SSH" name="Branch" value="SSH">
        <label for="SSH"> SSH </label> <br>

        <input type="checkbox" id="Others" name="Branch" value="Others">
        <label for="Others"> Others </label> <br>

        <br><br>
    </div>

    <div class="Level">
        <p>Course Level</p>

        <input type="checkbox" id="1" name="Level" value="1">
        <label for="1"> 1 </label> <br>

        <input type="checkbox" id="2" name="Level" value="2">
        <label for="2"> 2 </label> <br>

        <input type="checkbox" id="3" name="Level" value="3">
        <label for="3"> 3 </label> <br>

        <input type="checkbox" id="4" name="Level" value="4">
        <label for="4"> 4 </label> <br>

        <input type="checkbox" id="5" name="Level" value="5">
        <label for="5"> 5 </label> <br>

        <input type="checkbox" id="6" name="Level" value="6">
        <label for="6"> 6 </label> <br>

        <br><br>
    </div>

    <div class="Credits">
        <p>Number of credits for the Courses</p>

        <input type="checkbox" id="2" name="Credits" value="2">
        <label for="2"> 2 </label> <br>

        <input type="checkbox" id="4" name="Credits" value="4">
        <label for="4"> 4 </label> <br>

        <br><br>
    </div>

    <div class="Interest_Topics">
        <label for="Interests">Interests:</label><br>
        <input type="text" id="Interests" name="Interests"><br>
        <br>
    </div>

    <!--<div class="Exclude_Topics">
        <label for="Exclude_Topics">Exclude Topics:</label><br>
        <input type="text" id="Exclude_Topics" name="Exclude_Topics"><br>
        <br>
    </div>-->

    <div class="Majority">
        <p> Component in Majority : </p>
        <input type="radio" id="Assignments" name="Majority" value="Assignments">
        <label for="Assignments">Assignments</label> <br>
        <input type="radio" id="Quizzes" name="Majority" value="Quizzes">
        <label for="Quizzes">Quizzes</label> <br>
        <input type="radio" id="Projects" name="Majority" value="Projects">
        <label for="Projects">Projects</label> <br>
        <input type="radio" id="Exams" name="Majority" value="Exams">
        <label for="Exams">Exams</label> <br>
        <br><br>
    </div>
    <div class="Minority">
        <p> Component in Minority : </p>
        <input type="radio" id="Assignments" name="Minority" value="Assignments">
        <label for="Assignments">Assignments</label> <br>
        <input type="radio" id="Quizzes" name="Minority" value="Quizzes">
        <label for="Quizzes">Quizzes</label> <br>
        <input type="radio" id="Projects" name="Minority" value="Projects">
        <label for="Projects">Projects</label> <br>
        <input type="radio" id="Exams" name="Minority" value="Exams">
        <label for="Exams">Exams</label> <br>
        <br><br>
    </div>
    <div class="Submit" >
        <input type="submit" value="Submit">
    </div>

    <!--<div id="my_form">
        <button id="nextStep">Submit</button>
    </div>-->

    <div id="thank_you" style="display: none;">
        <h2>Recommendations for you?</h2>
        
        {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
        {% endfor %}
    </div>

    <script>
        var nextStep = document.querySelector('#nextStep');

        nextStep.addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('my_form').style.display = 'none';

            // Show thank you message element
            document.getElementById('thank_you').style.display = 'block';
        });
    </script>

    <!--<div id="popup1" class="overlay">
        <div class="popup">
            <h2>Recommendations for you?</h2>
            <a class="close" href="#">&times;</a>
            <div id="recommendation" class="content">
            </div>
        </div>
    </div>-->
</form>



</html>
{% endblock content %}