{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<title>Query Search & Recommendation for Courses</title>
 <body>
    <h1>Query Search & Recommendation for Courses</h1>
</body>

<form method="POST">
<div class="PrevCourse">
    <label for="PreviousCourses">Previous Courses:</label><br>
    <input type="text" id="PreviousCourses" name="PreviousCourses"><br>
    <br>
</div>

<div class="Branch">
<p>Branch/Department of Courses</p>

<input type="checkbox" id="CSE" name="CSE" value="CSE">
<label for="CSE"> CSE </label> <br>

<input type="checkbox" id="DES" name="DES" value="DES">
<label for="DES"> DES </label> <br>

<input type="checkbox" id="MTH" name="MTH" value="MTH">
<label for="MTH"> MTH </label> <br>

<input type="checkbox" id="ECE" name="ECE" value="ECE">
<label for="ECE"> ECE </label> <br>

<input type="checkbox" id="BIO" name="BIO" value="BIO">
<label for="BIO"> BIO </label> <br>

<input type="checkbox" id="SSH" name="SSH" value="SSH">
<label for="SSH"> SSH </label> <br>

<input type="checkbox" id="Others" name="Others" value="Others">
<label for="Others"> Others </label> <br>

<br><br>
</div>

<div class="Interest_Topics">
<label for="Interests">Interests:</label><br>
<input type="text" id="Interests" name="Interests"><br>
<br>
</div>

<div class="Majority">
<p> Component in Majority : </p>
<input type="radio" id="Assignments" name="Assignments" value="Assignments">
<label for="Assignments">Assignments</label> <br>
<input type="radio" id="Quizzes" name="Quizzes" value="Quizzes">
<label for="Quizzes">Quizzes</label> <br>
<input type="radio" id="Projects" name="Projects" value="Projects">
<label for="Projects">Projects</label> <br>
<input type="radio" id="Exams" name="Exams" value="Exams">
<label for="Exams">Exams</label> <br>
<br><br>
</div>
<div class="Minority">
<p> Component in Minority : </p>
<input type="radio" id="Assignments2" name="Assignments2" value="Assignments2">
<label for="Assignments2">Assignments</label> <br>
<input type="radio" id="Quizzes2" name="Quizzes2" value="Quizzes2">
<label for="Quizzes2">Quizzes</label> <br>
<input type="radio" id="Projects2" name="Projects2" value="Projects2">
<label for="Projects2">Projects</label> <br>
<input type="radio" id="Exams2" name="Exams2" value="Exams2">
<label for="Exams2">Exams</label> <br>
<br><br>
</div>
<div class="Submit">
<input type="submit" value="Submit">
</div>
</form>



</html>




{% endblock content %}